.container {
    padding: 10px;
    background: rgba(179, 32, 63, 0.829);
    width: 250px;
}

button{
    color: white;
    border-radius: 50%;
    padding: 15px;
    width:30px;
    height: 30px;
    border: 1px solid black;
}
.button-section{
    display: flex;
}
.operator-button{
    background: turquoise;
    width:40px;
}
.number-button{
    background: rgba(20, 139, 207, 0.945);
    width:40px;
}

.special-button{
    background:rgba(13, 125, 200, 0.465);
    width:40px;
}
