* {
    padding: 10px;
    background: rgb(121, 12, 12);
    border: 1px solid black;
    width: 200px;
}

button{
    border-radius: 50%;
    padding: 15px;
    width:30px;
    height: 30px;
}
.operator-button{
    background: rgba(20, 92, 207, 0.781);
    width:40px;
}
.number-button{
    background: rgba(20, 139, 207, 0.945);
    width:40px;
}

.special-button{
    background:rgb(3, 65, 80);
    width:40px;
}
