.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border:1px solid gray;
    border-radius: 3%;
    margin-left: 200px;
    padding: 25px;
    background:#BB1133;
    width: 300px;
    height: 425px;
}

button{
    color: white;
    font-size: 20px;
    border-radius: 50%;
    padding: 15px;
    width:50px;
    height: 50px;
    margin-bottom: 10px;
    margin-left: 15px;
    border: 1px solid black;
}
.button-section{
    /* border: 4px dashed blue; */
    display: flex;
    width: 250px;
    height: 400px;
}
.operator-button{
    border: 2px solid black;
    /* background: green; */
    flex-wrap: wrap;
    justify-content: space-between;
}
.opBtn{
    background:#3CB5E5;
}
.number-button{
    border: 2px dotted black;
    /* background:yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.numBtn{
    background: #0F3B78; 
}

.special-button{
    border: 2px dashed black;
    /* background:peach; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.specBtn{
    background:#1F60B0;
}
.logo-container{
    /* border: 3px dotted yellow; */
    margin-left: 10px;
}
.display {
    width: 250px;
    height: 50px;
    background: #2D2728;
    color: white;
    margin-left:10px;
    font-size: 20px;
    border-radius: 20%;
}